/* .button {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #3f51b5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    min-width: 180px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
    background-color: #303f9f;
} */

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 15px;
  color: #383d48;
}

.button span {
  display: block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  line-height: 1;
  transition: 0.4s ease;
}

.button:after {
  content: url(https://img.icons8.com/clouds/100/000000/more.png);
  /* content: "\e90e"; */
  /* font-family: Linearicons-Free; */
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

.button:hover span {
  max-width: 150px;
  opacity: 1;
  margin-right: 6px;
}
